@import "tailwindcss";

@theme {
  --breakpoint-xxs: 10rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;

  --font-allura: "Allura", cursive;
  --font-raleway: "Raleway", sans-serif;

  --color-brown-200: #f6e9d5;
  --color-brown-400: #eaddca;
  --color-brown-600: #c19a6b;
  --color-brown-800: #92612c;
  --color-brown: #7b3f00;
  --color-dark-brown: #4f2901;

  --animate-fadeIn: fadeIn ease 4s;
  --animate-typewrite: typewrite 3s steps(24) 1s 1 normal both;
  --animate-fadeInRight: fadeInRight ease-out forwards 1s;
  --animate-fadeInTop: fadeInTop ease-out forwards 1s;

  --shadow-header: rgba(123, 63, 0, 0.1) 0px 4px 6px -1px,
    rgba(123, 63, 0, 0.06) 0px 2px 4px -1px;
  --shadow-menu: 0px 2px 8px 0px rgba(123, 63, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typewrite {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: [ auto smooth];
}

a,
.btn {
  @apply transition-all ease-in duration-300;
}

.main-container {
  @apply xxs:w-full xs:w-full md:w-full lg:w-10/12 xl:w-10/12;
}

.section-height {
  @apply min-h-[80vh] lg:h-screen;
}

.nav-list > li {
  @apply lg:text-lg xl:text-lg;
}

.nav-link:hover {
  @apply text-brown transform pb-1 transition-all ease-in-out duration-300;
}

.menu-link {
  @apply block p-2 xxs:text-sm xs:text-sm sm:text-base md:text-base transition-all ease-in-out duration-300;
}

.menu-link:hover {
  @apply bg-brown-200 text-brown transform scale-104;
}

.active-menu-link {
  @apply text-brown border-l-2 border-brown-600;
}

section {
  @apply my-[10vh] lg:my-auto lg:pt-18 lg:pb-0 xl:pb-0 xl:pt-20 box-border;
}

.section-heading {
  @apply text-3xl md:text-4xl xl:text-5xl font-medium;
}

.contact-link:hover,
.contact-link:focus {
  @apply underline text-dark-brown decoration-dark-brown underline-offset-10;
}

.btn {
  @apply w-fit font-semibold p-3 lg:p-3.5 xl:p-4 text-xs lg:text-sm rounded-4xl cursor-pointer;
}

.icon {
  @apply cursor-pointer h-6 md:h-7 xl:h-8;
}
